name: nightly

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Build Release x64
      run: msbuild NecromancerLoader.sln /p:Configuration=Release /p:Platform=x64

    - name: Upload Release Build
      uses: actions/upload-artifact@v3
      with:
        name: NecromancerLoader-Release-x64
        path: bin/Release/NecromancerLoader.exe
